# TODO(ROX-31696): this task can be deleted after `create-snapshot-from-bundle` is rolled out to all release branches
# and there are no more active PRs using `create-snapshot`.
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: create-snapshot
spec:
  description: Creates a snapshot based on the component names, image refs and Git information passed to the task.
  params:
  - name: COMPONENTS
    description: A stringified JSON array with information about components with name, container image ref, git repo and git revision for each.
    type: string
  - name: PRODUCT_VERSION
    description: Product version to record as part of the Snapshot's name to be able to identify snapshots more easily. Pass here the result from determine-image-tag for the main image.
    type: string
  results:
  - name: SNAPSHOT_NAME
    description: Name of the snapshot created by this task.
  volumes:
  - name: workdir
    emptyDir: { }
  stepTemplate:
    volumeMounts:
    - mountPath: /var/workdir
      name: workdir
    workingDir: /var/workdir
  steps:
  - name: render-snapshot
    image: registry.access.redhat.com/ubi9:latest@sha256:3816d303e75dec4da2d10eeb9e8651eef4393721598bea4690c607282635aa57
    env:
    - name: COMPONENTS
      value: $(params.COMPONENTS)
    - name: PRODUCT_VERSION
      value: $(params.PRODUCT_VERSION)
    - name: SNAPSHOT_NAME_RESULT_PATH
      value: $(results.SNAPSHOT_NAME.path)
    - name: NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    - name: APPLICATION_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['appstudio.openshift.io/application']
    - name: COMMIT_SHA
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['pipelinesascode.tekton.dev/sha']
    - name: PIPELINE_RUN_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['tekton.dev/pipelineRun']
    script: |
      #!/usr/bin/env python3

      import datetime
      import json
      import os
      import re


      def parse_components_input(raw_input):
          return json.loads(raw_input)


      def determine_resource_version_suffix(application_name):
          match = re.search(r"(?P<version>-\d+-\d+)$", application_name)
          if match:
              return match.group("version")
          return ""


      def determine_snapshot_name(prefix, product_version):
          # The timestamp is added to the Snapshot name so that we can differentiate Snapshots from rebuilds of the same commit or tag.
          timestamp = datetime.datetime.now(datetime.timezone.utc).strftime("%Y%m%dT%H%M%SZ")
          product_version_sanitized = re.sub(r"[^a-zA-Z0-9-]", "-", product_version)
          return f"{prefix}-{product_version_sanitized}-{timestamp}".lower()[:63]


      def process_component(component, resource_version_suffix):
          validate_component(component)
          return {
              "containerImage": component["containerImage"],
              "name": f"{component['name']}{resource_version_suffix}",
              "source": {
                  "git": {
                      "revision": component["revision"],
                      "url": component["repository"]
                  }
              }
          }


      def validate_component(component):
          assert (
              component["name"] != ""
              and component["containerImage"] != ""
              and component["revision"] != ""
              and component["repository"] != ""
          ), "Component must have component name, containerImage, revision and repository set."


      def create_labels(application_name, commit_sha, pipeline_run_name, product_version):
          return {
              # Matches application name label put by Konflux on its Snapshots. Can be handy for searching by label.
              "appstudio.openshift.io/application": application_name,

              # We don't set the appstudio's default pipelinerun label's value to the PipelineRun name because
              # this inhibits the OOTB creation of a Snapshot in Konflux which in turn may have undesired
              # effects, e.g. the operator-bundle image not being promoted in the corresponding component.
              # We still add the label because otherwise our custom Snapshot will not load in UI.
              "appstudio.openshift.io/build-pipelinerun": "",

              # The following is a custom label and we add it to help ourselves find out which PipelineRun
              # created the Snapshot.
              "created-by-pipelinerun": pipeline_run_name,

              # This corresponds to the label put by Konflux on its Snapshots. It is to efficiently find Snapshots
              # for a commit.
              "pac.test.appstudio.openshift.io/sha": commit_sha,

              # This is to allow differentiating our custom Snapshots from the ones created by Konflux.
              "acs-style-snapshot": "true",

              # This corresponds to image tags and version string embedded in the product's executables.
              "acs-product-version": product_version,
          }


      def construct_snapshot(
          snapshot_name,
          namespace,
          labels,
          application_name,
          components
      ):
          return {
              "apiVersion": "appstudio.redhat.com/v1alpha1",
              "kind": "Snapshot",
              "metadata": {
                  "name": snapshot_name,
                  "namespace": namespace,
                  "labels": labels,
              },
              "spec": {
                  "application": application_name,
                  "components": components
              }
          }


      def write_snapshot(snapshot, results_path):
          with open("snapshot.json", "w") as f:
              json.dump(snapshot, f)
          with open(results_path, "w", newline="") as f:
              f.write(snapshot["metadata"]["name"])


      def main():
          application_name = os.environ["APPLICATION_NAME"]
          raw_components = parse_components_input(os.environ["COMPONENTS"])
          namespace = os.environ["NAMESPACE"]
          product_version = os.environ["PRODUCT_VERSION"]
          snapshot_name_result_path = os.environ["SNAPSHOT_NAME_RESULT_PATH"]

          snapshot_name = determine_snapshot_name(application_name, product_version)
          resource_version_suffix = determine_resource_version_suffix(application_name)
          components = [process_component(c, resource_version_suffix) for c in raw_components]

          labels = create_labels(
              application_name=application_name,
              commit_sha=os.environ["COMMIT_SHA"],
              pipeline_run_name=os.environ["PIPELINE_RUN_NAME"],
              product_version=product_version,
          )

          snapshot = construct_snapshot(
              snapshot_name=snapshot_name,
              namespace=namespace,
              labels=labels,
              application_name=application_name,
              components=components
          )

          write_snapshot(snapshot, snapshot_name_result_path)
          print("Rendered snapshot written to workspace.")

      if __name__ == "__main__":
          main()

  - name: create-snapshot
    image: registry.redhat.io/openshift4/ose-cli-rhel9@sha256:da4f8a01ef5d0607cf76fa7b219fafdb6020cb4cf9a0a88cfe76d292c1a561fc
    script: oc create -f snapshot.json
